In [52]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 


# 데이터 VIEW
customerData.head()

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [53]:
# 컬럼을 대문자로 변경
customerData.columns=[x.upper() for x in customerData.columns]
customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [56]:
# 정렬해준다.
sortedDataPre = customerData.sort_values(["REGIONID", "PRODUCTGROUP", "YEARWEEK"])

In [57]:
sortedDataPre

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME
36       A01       ST0001   201501  513598.0
24       A01       ST0001   201502  438251.0
30       A01       ST0001   201503  420290.0
38       A01       ST0001   201504  458431.0
26       A01       ST0001   201505  482381.0
32       A01       ST0001   201506  570412.0
20       A01       ST0001   201507  620392.0
28       A01       ST0001   201508  571781.0
34       A01       ST0001   201509  569545.0
22       A01       ST0001   201510  511679.0
9        A01       ST0001   201511  524787.0
17       A01       ST0001   201512  486509.0
7        A01       ST0001   201513  470040.0
15       A01       ST0001   201514  428195.0
3        A01       ST0001   201515  810144.0
11       A01       ST0001   201516  764927.0
18       A01       ST0001   201517  697502.0
5        A01       ST0001   201518  671464.0
13       A01       ST0001   201519  682757.0
1        A01       ST0001   201520  645626.0
70       A01       ST0001   201521  620290.0
78       A01       ST0001   201522  603104.0
64       A01       ST0001   201523  610479.0
74       A01       ST0001   201524  589613.0
60       A01       ST0001   201525  618699.0
66       A01       ST0001   201526  586721.0
76       A01       ST0001   201527  599043.0
62       A01       ST0001   201528  587529.0
72       A01       ST0001   201529  620882.0
80       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
117      A01       ST0002   201550  294579.0
105      A01       ST0002   201551  356271.0
93       A01       ST0002   201552  422468.0
99       A01       ST0002   201553  232523.0
87       A01       ST0002   201601  162801.0
97       A01       ST0002   201602  137186.0
85       A01       ST0002   201603  152763.0
95       A01       ST0002   201604  197057.0
83       A01       ST0002   201605  231214.0
91       A01       ST0002   201606  172230.0
101      A01       ST0002   201607  161324.0
89       A01       ST0002   201608  130000.0
155      A01       ST0002   201609  154149.0
143      A01       ST0002   201610  142575.0
151      A01       ST0002   201611  150915.0
141      A01       ST0002   201612  132780.0
149      A01       ST0002   201613  135788.0
157      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
154      A01       ST0002   201616  137927.0
145      A01       ST0002   201617  142279.0
137      A01       ST0002   201618  162560.0
129      A01       ST0002   201619  152980.0
135      A01       ST0002   201620  160913.0
125      A01       ST0002   201621  205984.0
133      A01       ST0002   201622  214929.0
123      A01       ST0002   201623  161983.0
131      A01       ST0002   201624  171592.0
139      A01       ST0002   201625  157283.0
127      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

In [58]:
# 어리럽혀진 인덱스를 리셋을 시켜준다.
sortedData = sortedDataPre.reset_index(drop=True)
sortedData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0        A01       ST0001   201501  513598.0
1        A01       ST0001   201502  438251.0
2        A01       ST0001   201503  420290.0
3        A01       ST0001   201504  458431.0
4        A01       ST0001   201505  482381.0
5        A01       ST0001   201506  570412.0
6        A01       ST0001   201507  620392.0
7        A01       ST0001   201508  571781.0
8        A01       ST0001   201509  569545.0
9        A01       ST0001   201510  511679.0
10       A01       ST0001   201511  524787.0
11       A01       ST0001   201512  486509.0
12       A01       ST0001   201513  470040.0
13       A01       ST0001   201514  428195.0
14       A01       ST0001   201515  810144.0
15       A01       ST0001   201516  764927.0
16       A01       ST0001   201517  697502.0
17       A01       ST0001   201518  671464.0
18       A01       ST0001   201519  682757.0
19       A01       ST0001   201520  645626.0
20       A01       ST0001   201521  620290.0
21       A01       ST0001   201522  603104.0
22       A01       ST0001   201523  610479.0
23       A01       ST0001   201524  589613.0
24       A01       ST0001   201525  618699.0
25       A01       ST0001   201526  586721.0
26       A01       ST0001   201527  599043.0
27       A01       ST0001   201528  587529.0
28       A01       ST0001   201529  620882.0
29       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
129      A01       ST0002   201550  294579.0
130      A01       ST0002   201551  356271.0
131      A01       ST0002   201552  422468.0
132      A01       ST0002   201553  232523.0
133      A01       ST0002   201601  162801.0
134      A01       ST0002   201602  137186.0
135      A01       ST0002   201603  152763.0
136      A01       ST0002   201604  197057.0
137      A01       ST0002   201605  231214.0
138      A01       ST0002   201606  172230.0
139      A01       ST0002   201607  161324.0
140      A01       ST0002   201608  130000.0
141      A01       ST0002   201609  154149.0
142      A01       ST0002   201610  142575.0
143      A01       ST0002   201611  150915.0
144      A01       ST0002   201612  132780.0
145      A01       ST0002   201613  135788.0
146      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
148      A01       ST0002   201616  137927.0
149      A01       ST0002   201617  142279.0
150      A01       ST0002   201618  162560.0
151      A01       ST0002   201619  152980.0
152      A01       ST0002   201620  160913.0
153      A01       ST0002   201621  205984.0
154      A01       ST0002   201622  214929.0
155      A01       ST0002   201623  161983.0
156      A01       ST0002   201624  171592.0
157      A01       ST0002   201625  157283.0
158      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

In [93]:
# 이동편규 연산
import math
# 이동편균 구간
order = 5

# 앞뒤로 비어있게될 구간 크기
suborder = math.floor(order/2)

In [89]:
suborder

2

In [94]:
sortedData["MA"] = sortedData["VOLUME"].rolling(window = order, center = True).mean()
sortedData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME        MA
0        A01       ST0001   201501  513598.0       NaN
1        A01       ST0001   201502  438251.0       NaN
2        A01       ST0001   201503  420290.0  462590.2
3        A01       ST0001   201504  458431.0  473953.0
4        A01       ST0001   201505  482381.0  510381.2
5        A01       ST0001   201506  570412.0  540679.4
6        A01       ST0001   201507  620392.0  562902.2
7        A01       ST0001   201508  571781.0  568761.8
8        A01       ST0001   201509  569545.0  559636.8
9        A01       ST0001   201510  511679.0  532860.2
10       A01       ST0001   201511  524787.0  512512.0
11       A01       ST0001   201512  486509.0  484242.0
12       A01       ST0001   201513  470040.0  543935.0
13       A01       ST0001   201514  428195.0  591963.0
14       A01       ST0001   201515  810144.0  634161.6
15       A01       ST0001   201516  764927.0  674446.4
16       A01       ST0001   201517  697502.0  725358.8
17       A01       ST0001   201518  671464.0  692455.2
18       A01       ST0001   201519  682757.0  663527.8
19       A01       ST0001   201520  645626.0  644648.2
20       A01       ST0001   201521  620290.0  632451.2
21       A01       ST0001   201522  603104.0  613822.4
22       A01       ST0001   201523  610479.0  608437.0
23       A01       ST0001   201524  589613.0  601723.2
24       A01       ST0001   201525  618699.0  600911.0
25       A01       ST0001   201526  586721.0  596321.0
26       A01       ST0001   201527  599043.0  602574.8
27       A01       ST0001   201528  587529.0  607631.8
28       A01       ST0001   201529  620882.0  624515.2
29       A01       ST0001   201530  643984.0  640208.4
..       ...          ...      ...       ...       ...
129      A01       ST0002   201550  294579.0  628673.6
130      A01       ST0002   201551  356271.0  395110.4
131      A01       ST0002   201552  422468.0  293728.4
132      A01       ST0002   201553  232523.0  262249.8
133      A01       ST0002   201601  162801.0  221548.2
134      A01       ST0002   201602  137186.0  176466.0
135      A01       ST0002   201603  152763.0  176204.2
136      A01       ST0002   201604  197057.0  178090.0
137      A01       ST0002   201605  231214.0  182917.6
138      A01       ST0002   201606  172230.0  178365.0
139      A01       ST0002   201607  161324.0  169783.4
140      A01       ST0002   201608  130000.0  152055.6
141      A01       ST0002   201609  154149.0  147792.6
142      A01       ST0002   201610  142575.0  142083.8
143      A01       ST0002   201611  150915.0  143241.4
144      A01       ST0002   201612  132780.0  142178.6
145      A01       ST0002   201613  135788.0  142299.6
146      A01       ST0002   201614  148835.0  139702.0
147      A01       ST0002   201615  143180.0  141601.8
148      A01       ST0002   201616  137927.0  146956.2
149      A01       ST0002   201617  142279.0  147785.2
150      A01       ST0002   201618  162560.0  151331.8
151      A01       ST0002   201619  152980.0  164943.2
152      A01       ST0002   201620  160913.0  179473.2
153      A01       ST0002   201621  205984.0  179357.8
154      A01       ST0002   201622  214929.0  183080.2
155      A01       ST0002   201623  161983.0  182354.2
156      A01       ST0002   201624  171592.0  180455.2
157      A01       ST0002   201625  157283.0       NaN
158      A01       ST0002   201626  196489.0       NaN

[159 rows x 5 columns]

In [95]:
# 이동평균 구간 찾아보기
maxLength = len(sortedData)
maxLength

159

In [73]:
# i가 0일때 선택범위
i=0

In [75]:
sortedData["VOLUME"][(maxLength-1)-(suborder+i):maxLength]

156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [87]:
# # i가 1일때 선택범위
i=1

In [88]:
sortedData["VOLUME"][(maxLength-1)-(suborder+i):maxLength]

155    161983.0
156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [111]:
sortedData["VOLUME"][0+i:suborder]

1    438251.0
Name: VOLUME, dtype: float64

In [68]:
# 이동편균 뒤의 빈셀 채우기
postList=[]
maxLength = len(sortedData)
for i in range(0,suborder):
    postList.append(sortedData["VOLUME"][(maxLength-1)-(suborder+i):maxLength].mean())
    sortedData.loc[maxLength-(1+i),"MA"] = postList[i]
postList

[175121.33333333334, 171836.75]

In [69]:
# 이동편균 얖의 빈셀 채우기
preList = []
for i in range(0,suborder):
    preList.append(sortedData["VOLUME"][0+i:suborder].mean())
    sortedData.loc[i, "MA"] = preList[i]
preList

[475924.5, 438251.0]

In [71]:
sortedData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA
0        A01       ST0001   201501  513598.0  475924.500000
1        A01       ST0001   201502  438251.0  438251.000000
2        A01       ST0001   201503  420290.0  462590.200000
3        A01       ST0001   201504  458431.0  473953.000000
4        A01       ST0001   201505  482381.0  510381.200000
5        A01       ST0001   201506  570412.0  540679.400000
6        A01       ST0001   201507  620392.0  562902.200000
7        A01       ST0001   201508  571781.0  568761.800000
8        A01       ST0001   201509  569545.0  559636.800000
9        A01       ST0001   201510  511679.0  532860.200000
10       A01       ST0001   201511  524787.0  512512.000000
11       A01       ST0001   201512  486509.0  484242.000000
12       A01       ST0001   201513  470040.0  543935.000000
13       A01       ST0001   201514  428195.0  591963.000000
14       A01       ST0001   201515  810144.0  634161.600000
15       A01       ST0001   201516  764927.0  674446.400000
16       A01       ST0001   201517  697502.0  725358.800000
17       A01       ST0001   201518  671464.0  692455.200000
18       A01       ST0001   201519  682757.0  663527.800000
19       A01       ST0001   201520  645626.0  644648.200000
20       A01       ST0001   201521  620290.0  632451.200000
21       A01       ST0001   201522  603104.0  613822.400000
22       A01       ST0001   201523  610479.0  608437.000000
23       A01       ST0001   201524  589613.0  601723.200000
24       A01       ST0001   201525  618699.0  600911.000000
25       A01       ST0001   201526  586721.0  596321.000000
26       A01       ST0001   201527  599043.0  602574.800000
27       A01       ST0001   201528  587529.0  607631.800000
28       A01       ST0001   201529  620882.0  624515.200000
29       A01       ST0001   201530  643984.0  640208.400000
..       ...          ...      ...       ...            ...
129      A01       ST0002   201550  294579.0  628673.600000
130      A01       ST0002   201551  356271.0  395110.400000
131      A01       ST0002   201552  422468.0  293728.400000
132      A01       ST0002   201553  232523.0  262249.800000
133      A01       ST0002   201601  162801.0  221548.200000
134      A01       ST0002   201602  137186.0  176466.000000
135      A01       ST0002   201603  152763.0  176204.200000
136      A01       ST0002   201604  197057.0  178090.000000
137      A01       ST0002   201605  231214.0  182917.600000
138      A01       ST0002   201606  172230.0  178365.000000
139      A01       ST0002   201607  161324.0  169783.400000
140      A01       ST0002   201608  130000.0  152055.600000
141      A01       ST0002   201609  154149.0  147792.600000
142      A01       ST0002   201610  142575.0  142083.800000
143      A01       ST0002   201611  150915.0  143241.400000
144      A01       ST0002   201612  132780.0  142178.600000
145      A01       ST0002   201613  135788.0  142299.600000
146      A01       ST0002   201614  148835.0  139702.000000
147      A01       ST0002   201615  143180.0  141601.800000
148      A01       ST0002   201616  137927.0  146956.200000
149      A01       ST0002   201617  142279.0  147785.200000
150      A01       ST0002   201618  162560.0  151331.800000
151      A01       ST0002   201619  152980.0  164943.200000
152      A01       ST0002   201620  160913.0  179473.200000
153      A01       ST0002   201621  205984.0  179357.800000
154      A01       ST0002   201622  214929.0  183080.200000
155      A01       ST0002   201623  161983.0  182354.200000
156      A01       ST0002   201624  171592.0  180455.200000
157      A01       ST0002   201625  157283.0  171836.750000
158      A01       ST0002   201626  196489.0  175121.333333

[159 rows x 5 columns]

In [106]:
# 다른 방식으로 디버깅
# 로케이션을 쓸때는 -가 안먹힘
sortedData.loc[-(2+suborder+1):maxLength]["VOLUME"]

0      513598.0
1      438251.0
2      420290.0
3      458431.0
4      482381.0
5      570412.0
6      620392.0
7      571781.0
8      569545.0
9      511679.0
10     524787.0
11     486509.0
12     470040.0
13     428195.0
14     810144.0
15     764927.0
16     697502.0
17     671464.0
18     682757.0
19     645626.0
20     620290.0
21     603104.0
22     610479.0
23     589613.0
24     618699.0
25     586721.0
26     599043.0
27     587529.0
28     620882.0
29     643984.0
         ...
129    294579.0
130    356271.0
131    422468.0
132    232523.0
133    162801.0
134    137186.0
135    152763.0
136    197057.0
137    231214.0
138    172230.0
139    161324.0
140    130000.0
141    154149.0
142    142575.0
143    150915.0
144    132780.0
145    135788.0
146    148835.0
147    143180.0
148    137927.0
149    142279.0
150    162560.0
151    152980.0
152    160913.0
153    205984.0
154    214929.0
155    161983.0
156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, Length: 159, dtype: float64

In [108]:
sortedData["VOLUME"][-(1+suborder+1):maxLength]

155    161983.0
156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [110]:
sortedData["VOLUME"][-(0+suborder+1):maxLength]

156    171592.0
157    157283.0
158    196489.0
Name: VOLUME, dtype: float64

In [107]:
# 이동편균 뒤의 빈셀 채우기
postList=[]
maxLength = len(sortedData)
for i in range(0,suborder):
    postList.append(sortedData["VOLUME"][-(i+suborder+1):maxLength].mean())
    sortedData.loc[maxLength-(1+i),"MA"] = postList[i]
postList

[175121.33333333334, 171836.75]

In [112]:
sortedData.tail()

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA
154      A01       ST0002   201622  214929.0  183080.200000
155      A01       ST0002   201623  161983.0  182354.200000
156      A01       ST0002   201624  171592.0  180455.200000
157      A01       ST0002   201625  157283.0  171836.750000
158      A01       ST0002   201626  196489.0  175121.333333

In [114]:
# 이동편균 얖의 빈셀 채우기
preList = []
for i in range(0,suborder):
    preList.append(sortedData["VOLUME"][0:suborder+i+1].mean())
    sortedData.loc[i, "MA"] = preList[i]
preList

[457379.6666666667, 457642.5]

In [115]:
sortedData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA
0      A01       ST0001   201501  513598.0  457379.666667
1      A01       ST0001   201502  438251.0  457642.500000
2      A01       ST0001   201503  420290.0  462590.200000
3      A01       ST0001   201504  458431.0  473953.000000
4      A01       ST0001   201505  482381.0  510381.200000

In [116]:
# 이동편규능 빈칸없이 다 채웠다..

In [117]:
# 비율계산하기

In [120]:
sortedData["RATIO"] = sortedData["VOLUME"]/sortedData["MA"]

In [121]:
sortedData

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA     RATIO
0        A01       ST0001   201501  513598.0  457379.666667  1.122914
1        A01       ST0001   201502  438251.0  457642.500000  0.957627
2        A01       ST0001   201503  420290.0  462590.200000  0.908558
3        A01       ST0001   201504  458431.0  473953.000000  0.967250
4        A01       ST0001   201505  482381.0  510381.200000  0.945139
5        A01       ST0001   201506  570412.0  540679.400000  1.054991
6        A01       ST0001   201507  620392.0  562902.200000  1.102131
7        A01       ST0001   201508  571781.0  568761.800000  1.005308
8        A01       ST0001   201509  569545.0  559636.800000  1.017705
9        A01       ST0001   201510  511679.0  532860.200000  0.960250
10       A01       ST0001   201511  524787.0  512512.000000  1.023951
11       A01       ST0001   201512  486509.0  484242.000000  1.004682
12       A01       ST0001   201513  470040.0  543935.000000  0.864147
13       A01       ST0001   201514  428195.0  591963.000000  0.723348
14       A01       ST0001   201515  810144.0  634161.600000  1.277504
15       A01       ST0001   201516  764927.0  674446.400000  1.134155
16       A01       ST0001   201517  697502.0  725358.800000  0.961596
17       A01       ST0001   201518  671464.0  692455.200000  0.969686
18       A01       ST0001   201519  682757.0  663527.800000  1.028980
19       A01       ST0001   201520  645626.0  644648.200000  1.001517
20       A01       ST0001   201521  620290.0  632451.200000  0.980771
21       A01       ST0001   201522  603104.0  613822.400000  0.982538
22       A01       ST0001   201523  610479.0  608437.000000  1.003356
23       A01       ST0001   201524  589613.0  601723.200000  0.979874
24       A01       ST0001   201525  618699.0  600911.000000  1.029602
25       A01       ST0001   201526  586721.0  596321.000000  0.983901
26       A01       ST0001   201527  599043.0  602574.800000  0.994139
27       A01       ST0001   201528  587529.0  607631.800000  0.966916
28       A01       ST0001   201529  620882.0  624515.200000  0.994182
29       A01       ST0001   201530  643984.0  640208.400000  1.005897
..       ...          ...      ...       ...            ...       ...
129      A01       ST0002   201550  294579.0  628673.600000  0.468572
130      A01       ST0002   201551  356271.0  395110.400000  0.901700
131      A01       ST0002   201552  422468.0  293728.400000  1.438295
132      A01       ST0002   201553  232523.0  262249.800000  0.886647
133      A01       ST0002   201601  162801.0  221548.200000  0.734833
134      A01       ST0002   201602  137186.0  176466.000000  0.777408
135      A01       ST0002   201603  152763.0  176204.200000  0.866966
136      A01       ST0002   201604  197057.0  178090.000000  1.106502
137      A01       ST0002   201605  231214.0  182917.600000  1.264034
138      A01       ST0002   201606  172230.0  178365.000000  0.965604
139      A01       ST0002   201607  161324.0  169783.400000  0.950175
140      A01       ST0002   201608  130000.0  152055.600000  0.854950
141      A01       ST0002   201609  154149.0  147792.600000  1.043009
142      A01       ST0002   201610  142575.0  142083.800000  1.003457
143      A01       ST0002   201611  150915.0  143241.400000  1.053571
144      A01       ST0002   201612  132780.0  142178.600000  0.933896
145      A01       ST0002   201613  135788.0  142299.600000  0.954240
146      A01       ST0002   201614  148835.0  139702.000000  1.065375
147      A01       ST0002   201615  143180.0  141601.800000  1.011145
148      A01       ST0002   201616  137927.0  146956.200000  0.938559
149      A01       ST0002   201617  142279.0  147785.200000  0.962742
150      A01       ST0002   201618  162560.0  151331.800000  1.074196
151      A01       ST0002   201619  152980.0  164943.200000  0.927471
152      A01       ST0002   201620  160913.0  179473.200000  0.896585
153      A01       ST0002   201621  205984.0  179357.800000  1.148453
154      A01       ST0002   201622  214929.0  183080.200000  1.173961
155      A01       ST0002   201623  161983.0  182354.200000  0.888288
156      A01       ST0002   201624  171592.0  180455.200000  0.950884
157      A01       ST0002   201625  157283.0  171836.750000  0.915305
158      A01       ST0002   201626  196489.0  175121.333333  1.122016

[159 rows x 6 columns]