In [1]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("C:/Users/SMART-01/python_ldg/dataset/CUSTOMERDATA.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

## 데이터프레임 생성
customerData = pd.DataFrame(customerData)
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1    A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2    A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3    A16605  3713.211107    2          6.6    0.900000        Early-bird
4    B10634  3391.074215    2          4.2    2.453656      Sleeping-dog
5    B16849  3755.263391    2          4.7    2.786665      Sleeping-dog
6    B18816  3213.911446    2          6.4    0.900000        Early-bird
7    C10639  3516.500000    2          5.2    2.564830  Big-Screen-lover
8    C12717  3732.900000    2          5.7    2.069995  Big-Screen-lover
9    C15050  4020.173425    2          4.9    3.013440      Sleeping-dog
10   C18306  4005.005142    2          4.7    3.113618      Sleeping-dog
11   C18622  3246.000000    1          5.0    1.891624  Big-Screen-lover
12   C19178  3624.700000    2          5.6    2.137246  Big-Screen-lover
13   D11795  2991.014703    2          6.4    0.800000        Early-bird
14   D13030  3227.855655    2          4.8    3.467370      Sleeping-dog
15   D15289  4165.700000    2          6.9    2.911016  Big-Screen-lover
16   D17241  4166.533130    2          4.7    2.577757      Sleeping-dog
17   D17880  3383.145853    2          4.5    2.903990      Sleeping-dog
18   E10778  4165.700000    2          6.7    2.122257  Big-Screen-lover
19   E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
20   E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
21   E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
22   E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
23   E19404  3764.940414    2          6.5    0.900000        Early-bird
24   F10222  3191.065822    2          6.5    0.900000        Early-bird
25   F12979  4165.700000    2          6.1    2.128362  Big-Screen-lover
26   F14866  3137.800000    2          5.1    1.725892  Big-Screen-lover
27   F17131  3179.708359    3          6.5    1.100000        Early-bird
28   F18646  3334.244233    2          4.5    3.273196      Sleeping-dog
29   F19938  3732.900000    2          5.4    2.011303  Big-Screen-lover
..      ...          ...  ...          ...         ...               ...
120  U16894  3234.465609    2          3.6    2.606419      Sleeping-dog
121  U17547  3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748  3394.152840    2          4.0    2.185742      Sleeping-dog
123  V10654  3902.329790    2          4.6    3.260149      Sleeping-dog
124  V16516  3149.259875    2          4.1    2.410823      Sleeping-dog
125  V16704  2605.631083    2          6.6    0.900000        Early-bird
126  V18566  3527.701867    3          6.5    0.900000        Early-bird
127  V19072  3462.400000    2          5.3    1.922932  Big-Screen-lover
128  W10832  3527.360507    2          4.1    2.136971      Sleeping-dog
129  W13032  4003.400000    2          6.1    2.519623  Big-Screen-lover
130  W13404  4296.873743    3          6.5    1.100000        Early-bird
131  W13995  2411.008838    2          6.4    1.000000        Early-bird
132  W16193  3402.729703    2          6.4    0.900000        Early-bird
133  W18228  3480.455474    2          6.4    0.900000        Early-bird
134  X10158  3949.300000    2          6.3    1.815666  Big-Screen-lover
135  X13390  2947.543982    3          6.3    1.100000        Early-bird
136  X14259  3481.314549    2          4.3    2.528063      Sleeping-dog
137  X19598  3516.500000    2          5.1    2.646259  Big-Screen-lover
138  X19768  3486.085831    2          4.6    2.835355      Sleeping-dog
139  Y10906  3408.300000    2          6.0    2.131432  Big-Screen-lover
140  Y12458  2976.211190    1          3.5    2.199677      Sleeping-dog
141  Y13678  3408.300000    2          5.6    2.084005  Big-Screen-lover
142  Z11525  3259.018704    3          6.4    0.900000        Early-bird
143  Z12343  3498.896985    2          6.6    0.900000        Early-bird
144  Z12772  3029.600000    2          4.9    2.093035  Big-Screen-lover
145  Z13253  3678.800000    2          5.9    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3          6.6    0.900000        Early-bird
147  Z16428  3516.500000    2          5.8    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2          5.6    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2          6.7    1.200000        Early-bird

[150 rows x 6 columns]

In [2]:
## 조건 설정
answer1 = customerData[ (customerData.EMI==3) & (customerData.DEVICECOUNT>5) ]
answer1

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
27   F17131  3179.708359    3          6.5    1.100000        Early-bird
33   G16437  3787.328898    3          6.7    1.000000        Early-bird
36   G18402  3402.199381    3          6.5    1.000000        Early-bird
40   H16326  3988.935304    3          6.5    0.900000        Early-bird
45   I12899  3018.895637    3          6.4    0.900000        Early-bird
51   J10809  3676.135627    3          6.5    0.800000        Early-bird
52   J15083  2811.265932    3          6.0    0.900000        Early-bird
53   J16445  3041.848186    3          6.4    0.800000        Early-bird
60   L13892  3263.515145    3          6.7    1.100000        Early-bird
67   N13273  3839.694732    3          6.9    1.100000        Early-bird
95   R16364  3592.353540    3          6.2    0.900000        Early-bird
107  S17396  3895.200000    3          6.1    2.055707  Big-Screen-lover
113  T11473  4165.700000    3          6.7    1.780674  Big-Screen-lover
126  V18566  3527.701867    3          6.5    0.900000        Early-bird
130  W13404  4296.873743    3          6.5    1.100000        Early-bird
135  X13390  2947.543982    3          6.3    1.100000        Early-bird
142  Z11525  3259.018704    3          6.4    0.900000        Early-bird
146  Z13534  3662.437527    3          6.6    0.900000        Early-bird

In [3]:
## 조건 설정
answer2 = customerData.query('EMI == 3 & DEVICECOUNT > 5')
answer2

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
27   F17131  3179.708359    3          6.5    1.100000        Early-bird
33   G16437  3787.328898    3          6.7    1.000000        Early-bird
36   G18402  3402.199381    3          6.5    1.000000        Early-bird
40   H16326  3988.935304    3          6.5    0.900000        Early-bird
45   I12899  3018.895637    3          6.4    0.900000        Early-bird
51   J10809  3676.135627    3          6.5    0.800000        Early-bird
52   J15083  2811.265932    3          6.0    0.900000        Early-bird
53   J16445  3041.848186    3          6.4    0.800000        Early-bird
60   L13892  3263.515145    3          6.7    1.100000        Early-bird
67   N13273  3839.694732    3          6.9    1.100000        Early-bird
95   R16364  3592.353540    3          6.2    0.900000        Early-bird
107  S17396  3895.200000    3          6.1    2.055707  Big-Screen-lover
113  T11473  4165.700000    3          6.7    1.780674  Big-Screen-lover
126  V18566  3527.701867    3          6.5    0.900000        Early-bird
130  W13404  4296.873743    3          6.5    1.100000        Early-bird
135  X13390  2947.543982    3          6.3    1.100000        Early-bird
142  Z11525  3259.018704    3          6.4    0.900000        Early-bird
146  Z13534  3662.437527    3          6.6    0.900000        Early-bird

### kopo_customerdata 테이블에서
### gender == male 이면서 email > 0 인 
### 데이터를 추출하세요!

In [4]:
import pandas as pd
from sqlalchemy import create_engine 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine) 
customerData

,customercode,statename,st,gender,dob,gender1,email,fest_cnt,total_amount,ac_amount,av_amount,ha_amount,emi_ce_amount,is_highend,cnt_vist,gap_visit
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
5,859044,State2,2,Male,0,1,0,0,38300,38300,0,0,0,0,1,0
6,734198,State2,2,Female,0,2,0,0,19900,0,0,19900,0,0,1,0
7,1443485,State2,2,Female,0,2,0,0,14800,0,0,14800,0,0,1,0
8,2340520,State2,2,Male,0,1,0,1,24400,0,0,24400,0,0,1,0
9,697949,State2,2,Male,0,1,0,1,30400,0,0,30400,0,0,1,0
10,385031,State2,2,Male,0,1,0,1,30300,0,0,30300,0,0,1,0
11,1944258,State2,2,Female,0,2,0,0,34300,0,18000,16300,0,0,1,0
12,2029521,State2,2,Female,0,2,0,0,14900,0,0,14900,0,0,1,0
13,1429192,State2,2,Male,0,1,0,0,16300,0,0,16300,0,0,1,0
14,892851,State2,2,Male,0,1,0,1,25000,0,0,25000,0,0,1,0
15,1554976,State2,2,Male,0,1,0,2,27500,0,0,27500,0,0,2,69
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
17,816582,State2,2,Male,0,1,0,1,40200,0,40200,0,0,0,2,940
18,675948,State2,2,Female,0,2,0,1,74600,0,0,74600,0,0,1,0
19,965940,State2,2,Male,0,1,0,0,42700,42700,0,0,0,0,1,0
20,2636314,State2,2,Male,0,1,0,0,14900,0,14900,0,0,0,1,0
21,577344,State2,2,Female,0,2,0,0,58700,0,24500,34200,0,0,2,21
22,910781,State2,2,Male,0,1,0,1,16000,0,16000,0,0,0,1,0
23,541107,State2,2,Female,0,2,0,1,17800,0,0,17800,0,0,1,0
24,1860112,State2,2,Male,0,1,0,0,26800,0,0,26800,0,0,1,0
25,1016762,State2,2,Male,1,1,0,1,14000,0,0,14000,0,0,1,0
26,2029821,State2,2,Male,0,1,0,0,31800,0,0,31800,0,0,1,0
27,765206,State2,2,Male,0,1,0,0,16000,0,0,16000,0,0,1,0
28,2174694,State2,2,Male,0,1,0,1,37600,0,0,37600,0,0,1,0
29,1196869,State2,2,Female,0,2,0,1,32800,0,16700,16100,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299970,2436525,State1,1,Male,0,1,0,1,67100,0,0,67100,0,0,1,0
299971,1238030,State1,1,Male,0,1,0,0,70100,0,55800,14300,0,0,3,663
299972,923009,State1,1,Male,0,1,0,1,17600,0,17600,0,0,0,1,0
299973,1433055,State1,1,Male,0,1,0,0,14200,0,0,14200,0,0,1,0
299974,2639022,State1,1,Male,0,1,0,0,66600,0,33000,33600,0,0,1,0
299975,1076615,State1,1,Male,0,1,0,1,35300,0,0,35300,0,0,1,0
299976,1017806,State1,1,Male,0,1,0,1,14900,0,0,14900,0,0,1,0
299977,1673649,State1,1,Male,0,1,0,2,26900,0,26900,0,0,0,2,511
299978,2304135,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299979,726202,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299980,2531738,State1,1,Male,0,1,0,0,13200,0,13200,0,0,0,1,0
299981,732024,State1,1,Male,0,1,0,0,13600,0,0,13600,0,0,1,0
299982,1829484,State1,1,Female,0,2,0,0,28500,0,0,28500,0,0,1,0
299983,923895,State1,1,Male,0,1,0,1,15600,0,15600,0,0,0,1,0
299984,2544242,State1,1,Male,0,1,0,0,18600,0,0,18600,0,0,1,0
299985,1006611,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0
299986,1795625,State1,1,Male,0,1,0,1,18400,0,0,18400,0,0,1,0
299987,731422,State1,1,Male,0,1,0,0,14800,0,0,14800,0,0,1,0
299988,463974,State1,1,Male,0,1,0,0,20400,0,0,20400,0,0,1,0
299989,1274816,State1,1,Male,0,1,0,1,15900,0,15900,0,0,0,1,0
299990,2034458,State1,1,Male,0,1,0,0,24300,0,0,24300,0,0,1,0
299991,1349673,State1,1,Male,0,1,0,1,21200,0,0,21200,0,0,1,0
299992,1098613,State1,1,Male,0,1,0,0,14000,0,14000,0,0,0,1,0
299993,721218,State1,1,Male,0,1,0,0,31400,0,0,31400,0,0,1,0
299994,598593,State1,1,Male,0,1,0,0,29000,0,0,29000,0,0,1,0
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [5]:
## 조건 설정
answer1 = customerData[ (customerData.gender=='Male') & (customerData.email> 0) ]
answer1

,customercode,statename,st,gender,dob,gender1,email,fest_cnt,total_amount,ac_amount,av_amount,ha_amount,emi_ce_amount,is_highend,cnt_vist,gap_visit
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0
206,2532568,State2,2,Male,1,1,1,0,48000,48000,0,0,0,0,1,0
216,487928,State2,2,Male,0,1,1,0,72300,0,27900,44400,0,0,1,0
226,2452240,State2,2,Male,1,1,1,1,22500,0,0,22500,0,0,1,0
299,1295854,State2,2,Male,1,1,1,2,59900,0,25100,34800,0,0,4,655
308,554757,State2,2,Male,0,1,1,0,22100,0,0,22100,0,0,1,0
330,761018,State2,2,Male,1,1,1,0,21200,0,0,21200,0,0,1,0
367,2191152,State2,2,Male,0,1,1,1,55700,0,55700,0,0,0,1,0
375,867914,State2,2,Male,0,1,1,0,14300,0,14300,0,0,0,1,0
415,1804886,State2,2,Male,0,1,1,1,35300,35300,0,0,0,0,1,0
420,1708130,State2,2,Male,0,1,1,4,59400,0,19000,40400,0,0,5,471
461,1701227,State2,2,Male,1,1,1,2,180300,0,180300,0,0,1,3,629
472,783314,State2,2,Male,0,1,1,0,11700,0,0,11700,0,0,1,0
577,2202752,State2,2,Male,1,1,1,1,145500,0,145500,0,0,0,1,0
588,1930071,State2,2,Male,0,1,1,0,30900,0,0,30900,0,0,1,0
589,1313388,State2,2,Male,0,1,1,1,33700,0,33700,0,0,0,1,0
599,801903,State2,2,Male,1,1,1,0,71400,71400,0,0,0,0,2,1
622,2028191,State2,2,Male,1,1,1,0,93300,0,93300,0,0,0,2,14
632,1832133,State2,2,Male,0,1,1,0,62700,0,62700,0,0,0,1,0
635,1770645,State2,2,Male,0,1,1,1,28600,0,0,28600,0,0,1,0
672,1239402,State2,2,Male,1,1,1,1,444500,0,69100,375400,0,0,3,287
707,1670252,State2,2,Male,1,1,1,1,28200,0,28200,0,0,0,1,0
735,1794917,State2,2,Male,0,1,1,1,37800,0,37800,0,0,0,1,0
749,1585965,State2,2,Male,1,1,1,2,405200,40500,294000,70700,60000,0,3,152
761,1669697,State2,2,Male,1,1,1,1,245700,0,245700,0,229000,1,2,26
764,2203801,State2,2,Male,1,1,1,4,206000,0,128400,77600,0,0,5,241
765,716171,State2,2,Male,0,1,1,0,124000,0,53800,70200,0,0,2,10
766,2556707,State2,2,Male,1,1,1,0,507900,0,479200,28700,0,0,2,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278681,2555383,State1,1,Male,1,1,1,0,43500,43500,0,0,0,0,1,0
281322,776030,State1,1,Male,0,1,1,0,13300,0,0,13300,0,0,1,0
282003,2004949,State1,1,Male,1,1,1,0,67100,0,67100,0,0,0,1,0
282564,513144,State1,1,Male,0,1,1,1,20900,0,0,20900,0,0,1,0
283114,554456,State1,1,Male,0,1,1,0,54400,0,0,54400,0,0,1,0
283296,2195916,State1,1,Male,1,1,1,1,56700,41500,0,15200,0,0,1,0
285146,1160986,State1,1,Male,1,1,1,3,50300,50300,0,0,0,0,5,868
285191,2032106,State1,1,Male,0,1,1,1,111100,53800,57300,0,0,0,2,261
285397,1629439,State1,1,Male,1,1,1,3,58300,0,28200,30100,0,0,3,29
285631,683499,State1,1,Male,0,1,1,1,26000,0,0,26000,0,0,1,0
285640,2536185,State1,1,Male,1,1,1,0,51500,51500,0,0,0,0,1,0
286123,1588318,State1,1,Male,0,1,1,1,23400,0,2600,20800,0,0,1,0
286759,1260136,State1,1,Male,0,1,1,0,15100,0,15100,0,0,0,1,0
288808,1785871,State1,1,Male,0,1,1,1,28500,0,0,28500,0,0,1,0
289361,1940594,State1,1,Male,0,1,1,0,50900,0,0,50900,0,0,1,0
290101,2419123,State1,1,Male,1,1,1,1,94400,77400,0,17000,0,0,1,0
292305,1451824,State1,1,Male,0,1,1,0,51800,51800,0,0,0,0,1,0
292396,512865,State1,1,Male,0,1,1,1,33900,0,0,33900,0,0,1,0
292988,1549301,State1,1,Male,0,1,1,1,37600,37600,0,0,0,0,1,0
293023,529081,State1,1,Male,0,1,1,1,12100,0,0,12100,0,0,1,0
293865,1589121,State1,1,Male,1,1,1,1,64300,0,64300,0,0,0,1,0
294324,633700,State1,1,Male,0,1,1,1,14300,0,14300,0,0,0,1,0
294425,1673732,State1,1,Male,1,1,1,1,1600,0,1600,0,0,0,2,1
294437,1576281,State1,1,Male,1,1,1,1,107200,53000,54200,0,0,0,1,0
295662,2515677,State1,1,Male,1,1,1,0,124400,0,69100,55300,0,0,2,20
297368,354730,State1,1,Male,0,1,1,1,24800,0,0,24800,0,0,1,0
298379,1883684,State1,1,Male,1,1,1,3,90700,0,0,90700,0,0,3,24
298638,2512712,State1,1,Male,1,1,1,0,177300,0,143900,33400,0,0,2,2
298672,1805372,State1,1,Male,1,1,1,0,108200,42300,0,65900,0,0,1,0
298974,676593,State1,1,Male,0,1,1,1,49200,49200,0,0,0,0,1,0

In [6]:
## 조건 설정
answer2 = customerData.query('gender == "Male" & email > 0')
answer2

,customercode,statename,st,gender,dob,gender1,email,fest_cnt,total_amount,ac_amount,av_amount,ha_amount,emi_ce_amount,is_highend,cnt_vist,gap_visit
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0
206,2532568,State2,2,Male,1,1,1,0,48000,48000,0,0,0,0,1,0
216,487928,State2,2,Male,0,1,1,0,72300,0,27900,44400,0,0,1,0
226,2452240,State2,2,Male,1,1,1,1,22500,0,0,22500,0,0,1,0
299,1295854,State2,2,Male,1,1,1,2,59900,0,25100,34800,0,0,4,655
308,554757,State2,2,Male,0,1,1,0,22100,0,0,22100,0,0,1,0
330,761018,State2,2,Male,1,1,1,0,21200,0,0,21200,0,0,1,0
367,2191152,State2,2,Male,0,1,1,1,55700,0,55700,0,0,0,1,0
375,867914,State2,2,Male,0,1,1,0,14300,0,14300,0,0,0,1,0
415,1804886,State2,2,Male,0,1,1,1,35300,35300,0,0,0,0,1,0
420,1708130,State2,2,Male,0,1,1,4,59400,0,19000,40400,0,0,5,471
461,1701227,State2,2,Male,1,1,1,2,180300,0,180300,0,0,1,3,629
472,783314,State2,2,Male,0,1,1,0,11700,0,0,11700,0,0,1,0
577,2202752,State2,2,Male,1,1,1,1,145500,0,145500,0,0,0,1,0
588,1930071,State2,2,Male,0,1,1,0,30900,0,0,30900,0,0,1,0
589,1313388,State2,2,Male,0,1,1,1,33700,0,33700,0,0,0,1,0
599,801903,State2,2,Male,1,1,1,0,71400,71400,0,0,0,0,2,1
622,2028191,State2,2,Male,1,1,1,0,93300,0,93300,0,0,0,2,14
632,1832133,State2,2,Male,0,1,1,0,62700,0,62700,0,0,0,1,0
635,1770645,State2,2,Male,0,1,1,1,28600,0,0,28600,0,0,1,0
672,1239402,State2,2,Male,1,1,1,1,444500,0,69100,375400,0,0,3,287
707,1670252,State2,2,Male,1,1,1,1,28200,0,28200,0,0,0,1,0
735,1794917,State2,2,Male,0,1,1,1,37800,0,37800,0,0,0,1,0
749,1585965,State2,2,Male,1,1,1,2,405200,40500,294000,70700,60000,0,3,152
761,1669697,State2,2,Male,1,1,1,1,245700,0,245700,0,229000,1,2,26
764,2203801,State2,2,Male,1,1,1,4,206000,0,128400,77600,0,0,5,241
765,716171,State2,2,Male,0,1,1,0,124000,0,53800,70200,0,0,2,10
766,2556707,State2,2,Male,1,1,1,0,507900,0,479200,28700,0,0,2,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278681,2555383,State1,1,Male,1,1,1,0,43500,43500,0,0,0,0,1,0
281322,776030,State1,1,Male,0,1,1,0,13300,0,0,13300,0,0,1,0
282003,2004949,State1,1,Male,1,1,1,0,67100,0,67100,0,0,0,1,0
282564,513144,State1,1,Male,0,1,1,1,20900,0,0,20900,0,0,1,0
283114,554456,State1,1,Male,0,1,1,0,54400,0,0,54400,0,0,1,0
283296,2195916,State1,1,Male,1,1,1,1,56700,41500,0,15200,0,0,1,0
285146,1160986,State1,1,Male,1,1,1,3,50300,50300,0,0,0,0,5,868
285191,2032106,State1,1,Male,0,1,1,1,111100,53800,57300,0,0,0,2,261
285397,1629439,State1,1,Male,1,1,1,3,58300,0,28200,30100,0,0,3,29
285631,683499,State1,1,Male,0,1,1,1,26000,0,0,26000,0,0,1,0
285640,2536185,State1,1,Male,1,1,1,0,51500,51500,0,0,0,0,1,0
286123,1588318,State1,1,Male,0,1,1,1,23400,0,2600,20800,0,0,1,0
286759,1260136,State1,1,Male,0,1,1,0,15100,0,15100,0,0,0,1,0
288808,1785871,State1,1,Male,0,1,1,1,28500,0,0,28500,0,0,1,0
289361,1940594,State1,1,Male,0,1,1,0,50900,0,0,50900,0,0,1,0
290101,2419123,State1,1,Male,1,1,1,1,94400,77400,0,17000,0,0,1,0
292305,1451824,State1,1,Male,0,1,1,0,51800,51800,0,0,0,0,1,0
292396,512865,State1,1,Male,0,1,1,1,33900,0,0,33900,0,0,1,0
292988,1549301,State1,1,Male,0,1,1,1,37600,37600,0,0,0,0,1,0
293023,529081,State1,1,Male,0,1,1,1,12100,0,0,12100,0,0,1,0
293865,1589121,State1,1,Male,1,1,1,1,64300,0,64300,0,0,0,1,0
294324,633700,State1,1,Male,0,1,1,1,14300,0,14300,0,0,0,1,0
294425,1673732,State1,1,Male,1,1,1,1,1600,0,1600,0,0,0,2,1
294437,1576281,State1,1,Male,1,1,1,1,107200,53000,54200,0,0,0,1,0
295662,2515677,State1,1,Male,1,1,1,0,124400,0,69100,55300,0,0,2,20
297368,354730,State1,1,Male,0,1,1,1,24800,0,0,24800,0,0,1,0
298379,1883684,State1,1,Male,1,1,1,3,90700,0,0,90700,0,0,3,24
298638,2512712,State1,1,Male,1,1,1,0,177300,0,143900,33400,0,0,2,2
298672,1805372,State1,1,Male,1,1,1,0,108200,42300,0,65900,0,0,1,0
298974,676593,State1,1,Male,0,1,1,1,49200,49200,0,0,0,0,1,0

### 원하는 컬럼 조회하기

In [10]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("C:/Users/SMART-01/python_ldg/dataset/CUSTOMERDATA.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

## 데이터프레임 생성
customerData = pd.DataFrame(customerData)

# 데이터프레임 리스트 활용하기
customerDataC = customerData[['CUSTID','EMI']]
customerDataC

     CUSTID  EMI
0    A13566    3
1    A14219    2
2    A15312    2
3    A16605    2
4    B10634    2
5    B16849    2
6    B18816    2
7    C10639    2
8    C12717    2
9    C15050    2
10   C18306    2
11   C18622    1
12   C19178    2
13   D11795    2
14   D13030    2
15   D15289    2
16   D17241    2
17   D17880    2
18   E10778    2
19   E11917    2
20   E16075    2
21   E16221    2
22   E18145    2
23   E19404    2
24   F10222    2
25   F12979    2
26   F14866    2
27   F17131    3
28   F18646    2
29   F19938    2
..      ...  ...
120  U16894    2
121  U17547    2
122  U17748    2
123  V10654    2
124  V16516    2
125  V16704    2
126  V18566    3
127  V19072    2
128  W10832    2
129  W13032    2
130  W13404    3
131  W13995    2
132  W16193    2
133  W18228    2
134  X10158    2
135  X13390    3
136  X14259    2
137  X19598    2
138  X19768    2
139  Y10906    2
140  Y12458    1
141  Y13678    2
142  Z11525    3
143  Z12343    2
144  Z12772    2
145  Z13253    2
146  Z13534    3
147  Z16428    2
148  Z16735    2
149  Z19835    2

[150 rows x 2 columns]

In [11]:
# filter 함수 활용하기
customerDataC = customerData.filter(items=['CUSTID','EMI'])
customerDataC.head()

   CUSTID  EMI
0  A13566    3
1  A14219    2
2  A15312    2
3  A16605    2
4  B10634    2

### kopo_customerdata 테이블에서
### customercode, statename, gender, total_amount 컬럼만
### 추출하세요

In [13]:
import pandas as pd
from sqlalchemy import create_engine 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine) 

# 데이터프레임 리스트 활용하기
customerDataC = customerData[['customercode','statename','gender','total_amount']]
customerDataC

       customercode statename  gender  total_amount
0           1503989    State2    Male         30300
1           1190338    State2    Male         46500
2           1424715    State2  Female         22700
3           2483305    State2    Male         31400
4           1178802    State2    Male         44900
5            859044    State2    Male         38300
6            734198    State2  Female         19900
7           1443485    State2  Female         14800
8           2340520    State2    Male         24400
9            697949    State2    Male         30400
10           385031    State2    Male         30300
11          1944258    State2  Female         34300
12          2029521    State2  Female         14900
13          1429192    State2    Male         16300
14           892851    State2    Male         25000
15          1554976    State2    Male         27500
16          1154228    State2    Male         18200
17           816582    State2    Male         40200
18           675948    State2  Female         74600
19           965940    State2    Male         42700
20          2636314    State2    Male         14900
21           577344    State2  Female         58700
22           910781    State2    Male         16000
23           541107    State2  Female         17800
24          1860112    State2    Male         26800
25          1016762    State2    Male         14000
26          2029821    State2    Male         31800
27           765206    State2    Male         16000
28          2174694    State2    Male         37600
29          1196869    State2  Female         32800
...             ...       ...     ...           ...
299970      2436525    State1    Male         67100
299971      1238030    State1    Male         70100
299972       923009    State1    Male         17600
299973      1433055    State1    Male         14200
299974      2639022    State1    Male         66600
299975      1076615    State1    Male         35300
299976      1017806    State1    Male         14900
299977      1673649    State1    Male         26900
299978      2304135    State1    Male         26300
299979       726202    State1    Male         26300
299980      2531738    State1    Male         13200
299981       732024    State1    Male         13600
299982      1829484    State1  Female         28500
299983       923895    State1    Male         15600
299984      2544242    State1    Male         18600
299985      1006611    State1    Male         16500
299986      1795625    State1    Male         18400
299987       731422    State1    Male         14800
299988       463974    State1    Male         20400
299989      1274816    State1    Male         15900
299990      2034458    State1    Male         24300
299991      1349673    State1    Male         21200
299992      1098613    State1    Male         14000
299993       721218    State1    Male         31400
299994       598593    State1    Male         29000
299995       465757    State1    Male         40600
299996      1890264    State1    Male         48000
299997      1857537    State1  Female         32300
299998      2209324    State1    Male         48500
299999      1875146    State1    Male         16500

[300000 rows x 4 columns]

###  인덱스를 활용하여 조회하기 행과 열을 이용하자

In [23]:
import pandas as pd
from sqlalchemy import create_engine 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine) 

# 데이터프레임 리스트 활용하기
customerDataC = customerData[['customercode','statename','gender','total_amount']]
customerDataC

       customercode statename  gender  total_amount
0           1503989    State2    Male         30300
1           1190338    State2    Male         46500
2           1424715    State2  Female         22700
3           2483305    State2    Male         31400
4           1178802    State2    Male         44900
5            859044    State2    Male         38300
6            734198    State2  Female         19900
7           1443485    State2  Female         14800
8           2340520    State2    Male         24400
9            697949    State2    Male         30400
10           385031    State2    Male         30300
11          1944258    State2  Female         34300
12          2029521    State2  Female         14900
13          1429192    State2    Male         16300
14           892851    State2    Male         25000
15          1554976    State2    Male         27500
16          1154228    State2    Male         18200
17           816582    State2    Male         40200
18           675948    State2  Female         74600
19           965940    State2    Male         42700
20          2636314    State2    Male         14900
21           577344    State2  Female         58700
22           910781    State2    Male         16000
23           541107    State2  Female         17800
24          1860112    State2    Male         26800
25          1016762    State2    Male         14000
26          2029821    State2    Male         31800
27           765206    State2    Male         16000
28          2174694    State2    Male         37600
29          1196869    State2  Female         32800
...             ...       ...     ...           ...
299970      2436525    State1    Male         67100
299971      1238030    State1    Male         70100
299972       923009    State1    Male         17600
299973      1433055    State1    Male         14200
299974      2639022    State1    Male         66600
299975      1076615    State1    Male         35300
299976      1017806    State1    Male         14900
299977      1673649    State1    Male         26900
299978      2304135    State1    Male         26300
299979       726202    State1    Male         26300
299980      2531738    State1    Male         13200
299981       732024    State1    Male         13600
299982      1829484    State1  Female         28500
299983       923895    State1    Male         15600
299984      2544242    State1    Male         18600
299985      1006611    State1    Male         16500
299986      1795625    State1    Male         18400
299987       731422    State1    Male         14800
299988       463974    State1    Male         20400
299989      1274816    State1    Male         15900
299990      2034458    State1    Male         24300
299991      1349673    State1    Male         21200
299992      1098613    State1    Male         14000
299993       721218    State1    Male         31400
299994       598593    State1    Male         29000
299995       465757    State1    Male         40600
299996      1890264    State1    Male         48000
299997      1857537    State1  Female         32300
299998      2209324    State1    Male         48500
299999      1875146    State1    Male         16500

[300000 rows x 4 columns]

In [24]:
# 인덱스로 조회하기
dfc1 = customerData.iloc[0:1,:]
dfc1

,customercode,statename,st,gender,dob,gender1,email,fest_cnt,total_amount,ac_amount,av_amount,ha_amount,emi_ce_amount,is_highend,cnt_vist,gap_visit
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0

In [28]:
dfc2 = customerData.iloc[0:6,[1,3]]
dfc2

  statename  gender
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male
5    State2    Male

In [42]:
dfc3 = customerData.loc[0:2,["statename","gender"]]
dfc3

  statename  gender
0    State2    Male
1    State2    Male
2    State2  Female